@model Phone

@{
    ViewBag.Title = "Add new Phone";
}
<h2>Заполните форму для добавления устройства</h2>
<div class="row">
    <div class="phone_add_form col-md-6">
        <form asp-action="Create" method="post">
            <div class="form_row">
                <label for="">
                    Наименование
                    <input asp-for="Name" type="text">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Компания
                    <input asp-for="Company" type="text">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Стоимость
                    <input asp-for="Price" type="text">
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Количество камера
                    <input asp-for="CameraCount" type="number">
                </label>
            </div>
            <button type="submit">Создать</button>
        </form>
    </div>
</div>